<ion-header *ngIf="load">
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button *ngIf="asociacion">

          <img alt="logo" id="header_logo"  [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + asociacion?.Logo)" style="width: 25px;">

        </ion-menu-button>
    </ion-buttons>
    <h4 style="text-align: center; margin-bottom: 0px;"><span class="text-resalt" >Jugadores</span></h4>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="load">
  <section class="content-info">
    <div class="container padding-top-mini">
      <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <button class="btn btn-primary" type="button" (click)="limpiar()"><i class="fa fa-trash"></i></button>
                </span>
                <input class="form-control" placeholder="" type="text" id="txtBuscadorJugadores" [(ngModel)]="texto">
                <span class="input-group-addon">
                    <button class="btn btn-primary" type="button" (click)="cargarJugadores(1)"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div id="tblData" class="row" *ngIf="jugadores">
        <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let item of jugadores">

            <div class="item-player" >
                 <div class="head-player">
                     <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.Imagen)" alt="location-team">
                 </div>
                 <div class="info-player">
                     <h4>
                         {{item.Nombre}} {{item.Apellido1}} {{item.Apellido2}}
                     </h4>
                     <h6 style="padding: 3px; color: #9c9c9c;">{{item.NombreEquipoActual}}</h6>
                     <ul> 
                         <li>
                             <strong>EQUIPO</strong> <span><img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.LogoEquipoActual)" alt=""></span></li>
                             <li><strong>FECHA NACIMIENTO:</strong> <span>{{item.FechaNacimientoStr}}</span></li>
                             <li><strong>RUT:</strong> <span>{{item.Rut}}</span></li>
                            </ul>
                 </div>
                 <a class="btn"></a>
             </div>
         </div>
    </div>
    <div class="row justify-content-center" *ngIf="jugadores">
        <nav id="paged" class="paged text-center" aria-label="Page navigation example">
            <ul class="pagination">
                                   
                <ng-container *ngFor="let item of paginadorArray">
                        <li  [ngClass]="item.disabled==1?'page-item disabled':'page-item'" *ngIf="item.tipo!=1">
                                <span class="page-link" (click)="cargarJugadores(item.pagina)" >
                                <i class="fa fa-step-backward"  aria-hidden="true" *ngIf="item.tipo==0"></i>
                                <i class="fa fa-step-forward" aria-hidden="true" *ngIf="item.tipo==2"></i>
                                </span>

                            </li>
                            <li  [ngClass]="item.active==1?'page-item active':'page-item'" *ngIf="item.tipo==1">
                                   
                                    <span class="page-link" (click)="cargarJugadores(item.pagina)" *ngIf="item.tipo==1">
                                    {{item.pagina}}        
                                    </span>
                                </li>
                </ng-container>
            </ul>
        </nav>
    </div>

        <div class="noData" style="display: none;">

            <table class="table">
                <thead>
                    <tr>
                        <th class="cabeceraGrilla">Lo Sentimos!</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="font-weight-bold" style="background-color:lightgray;" colspan="4">No existen Resultados para mostrar.</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</section>
</ion-content>
