<ion-header *ngIf="load">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button *ngIf="asociacion">
  
            <img alt="logo" id="header_logo"  [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + asociacion?.Logo)" style="width: 25px;">
  
          </ion-menu-button>
      </ion-buttons>
  
      <h4 style="text-align: center; margin-bottom: 0px;"><span class="text-resalt" >Contacto</span></h4>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="load">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
                </ion-refresher>
  <section class="content-info padding-top-mini">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <aside class="panel-box">
                    <div class="titles no-margin">
                        <h4>Oficina</h4>
                    </div>
                    <div class="info-panel">
                        <address>
                            <strong>{{asociacion?.Nombre}}</strong><br>
                            <i class="fa fa-map-marker"></i><strong>Dirección: </strong> {{asociacion?.Direccion}}<br>
                            <i class="fa fa-plane"></i><strong>Ciudad: </strong>{{asociacion?.Ciudad}}<br>

                            

                        </address>
                    </div>
                </aside>

            </div>
            <div class="col-md-4">
                <aside class="panel-box">
                    <div class="titles no-margin">
                        <h4>Teléfonos de Contacto</h4>
                    </div>
                    <div class="info-panel">
                        <address>
                            <ng-container *ngFor="let item of telefonos">
                                <i  class="fa fa-phone"></i><strong>Telefono: </strong> <a href="tel:{{item}}"> <span>{{item}}</span></a><br>
                            </ng-container>
                           
                        </address>
                    </div>
                </aside>
            </div>
            <div class="col-md-4">
                <aside class="panel-box">
                    <div class="titles no-margin">
                        <h4>Emails de Contacto</h4>
                    </div>
                    <div class="info-panel">
                        <address>
                            <ng-container *ngFor="let item of emails">
                                <i  class="fa fa-envelope"></i><strong>Emails: </strong> <a href="mailto:{{item}}"> <span>{{item}}</span></a><br>
                            </ng-container>
                           
                        </address>
                    </div>
                </aside>
            </div>



        </div>
    </div>

</section>
</ion-content>
