<ion-header >
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" ></ion-back-button>
        </ion-buttons>
        
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>
    <ion-list>
      <ion-list-header>
        Notificaciones Guardadas
      </ion-list-header>

      <ion-item *ngFor="let item of notificaciones">
        <ion-avatar slot="start">
          <img src="./avatar-finn.png">
        </ion-avatar>
        <ion-label>
          <h2>{{item.Titulo}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
