<ion-header *ngIf="load">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button *ngIf="asociacion">
  
            <img alt="logo" id="header_logo"  [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + asociacion?.Logo)" style="width: 25px;">
  
          </ion-menu-button>
      </ion-buttons>

      <h4 style="text-align: center; margin-bottom: 0px;"><span class="text-resalt" >Posiciones</span></h4>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="load">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
                </ion-refresher>
    <section class="content-info padding-bottom padding-top" >

        <div class="single-team-tabs" >
            <div class="container">
                <div class="row" >
                    <div class="col-xl-12 col-md-12" >

                            <ul class="nav nav-tabs" id="myTab">
                                    <li [ngClass]="cam.IdEstado?'active':''" *ngFor="let cam of campeonatos; let i = index" style="z-index: 543543; margin-bottom:6px;"><a (click)="mostrarTabCampeonato(cam)" data-toggle="tab">{{cam.Nombre}}</a></li>
                                 
                            </ul>
                            <div class="tab-content">

                                    <div [ngClass]="cam.IdEstado?'tab-pane active':'tab-pane'" *ngFor="let cam of campeonatos; let i = index" id="cam.Id">
                                            <ul class="nav nav-tabs padding-top-mini" id="myTab">

                                            <ng-container *ngFor="let item of cam.TablaPosiciones">
                                                <li [ngClass]="item.Activa?'active':''" style="margin-bottom:6px"><a (click)="mostrarTab(item, cam)"  data-toggle="tab">{{item.Nombre}}</a></li>
                                            </ng-container>
                                            </ul>
                                            <div class="tab-content">
    
                                                <ng-container *ngIf="cam.TablaPosiciones.length>0">
                                                        <ng-container *ngFor="let item of cam.TablaPosiciones">
                                                                <div [ngClass]="item.Activa?'tab-pane active':'tab-pane'" *ngIf="item.Activa">
                                                                    <div class="table-responsive">
                                                                        <table class="result-point">
                                                                            <thead class="point-table-head">
                                                                                <tr>
                                                                                    <th class="text-left cabeceraGrilla">Pos</th>
                                                                                    <th class="text-left cabeceraGrilla">Equipo</th>
                                                                                    <th class="text-center cabeceraGrilla">PTS</th>
                                                                                    <th class="text-center cabeceraGrilla">PJ</th>
                                                                                    <th class="text-center cabeceraGrilla">PG</th>
                                                                                    <th class="text-center cabeceraGrilla">PE</th>
                                                                                    <th class="text-center cabeceraGrilla">PP</th>
                                                                                    <th class="text-center cabeceraGrilla">GF</th>
                                                                                    <th class="text-center cabeceraGrilla">GC</th>
                                                                                    <th class="text-center cabeceraGrilla">DIF</th>
                            
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody class="text-center">
                                                                                <tr *ngFor="let pos of item.TablaPosiciones">
                                                                                    <td class="text-left number">
                                                                                        <strong>{{pos.Posicion}}</strong>
                                                                                        <img *ngIf="pos.TieneSancion" class="sancion" [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + '/Content/archivos/img/img-sancion.png')" alt="Tiene Sanción de Puntos" data-toggle="tooltip" data-placement="top" title="Tiene Sanción de Puntos" style="float: right; width: 20px; right: 0; position: absolute; cursor:pointer;">
                                                                                    </td>
                                                                                    <td class="text-left">
                                                                                        <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + pos.LogoEquipo)"  style="float:none;" (click)="presentPopover($event, pos.Equipo)">
                                                                                        <strong><span class="hidden-sm hidden-xs">{{pos.Equipo}}</span></strong>
                                                                                    </td>
                                                                                    <td style="background-color: #c0ece0; "><strong>{{pos.Puntos}}</strong></td>
                                                                                    <td>{{pos.PartidosJugados}}</td>
                                                                                    <td>{{pos.PartidosGanados}}</td>
                                                                                    <td>{{pos.PartidosEmpatados}}</td>
                                                                                    <td>{{pos.PartidosPerdidos}}</td>
                                                                                    <td>{{pos.GolesFavor}}</td>
                                                                                    <td>{{pos.GolesContra}}</td>
                                                                                    <td>{{pos.DiferenciaGoles}}</td>
                            
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                </ng-container>
                                                   
                                                    <table class="table" *ngIf="cam.TablaPosiciones.length==0">
                                                            <thead>
                                                                <tr>
                                                                    <th class="cabeceraGrilla">Lo Sentimos!</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                
                                                                <tr>
                                                                    <td class="font-weight-bold" style="background-color:lightgray;" colspan="4">No existen Registros para mostrar.</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </div>

                                    </div>
                            </div>
    
                    </div>
                    
                </div>

               
            </div>
        </div>
       
       
    </section>
    <!-- <section class="content-info padding-top-mini" *ngIf="datos.length<=1">
            <div class="container">
                    <div class="row" > 
                            <div class="col-xl-12 col-md-12" >
                                    <table class="table" >
                        
                                            <thead>
                                                <tr>
                                                    <th class="cabeceraGrilla">Lo Sentimos!</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                            
                                                <tr>
                                                    <td class="font-weight-bold" style="background-color:lightgray;" colspan="4">No existen Registros para mostrar.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                            </div>
                       
                    </div>
            </div>
            

            

    </section> -->
</ion-content>
