<ion-header  *ngIf="load">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button class="show-back-button" (click)="modalController.dismiss()"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="load">
    <div class="section-title-team">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="row">
                        <div class="col-md-3">
                            <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + equipo?.Logo)" alt="">
                        </div>
                        <div class="col-md-9">
                            <h1>{{equipo?.Nombre}}</h1>
                            <ul class="general-info">
    
                                <li><h6><strong>Año Fundación:</strong> {{equipo?.Ano}}</h6></li>
    
                                <li *ngFor="let item of directiva"><h6><strong>{{item.Cargo}}:</strong> {{item.Nombre}}</h6></li>
                                <!-- @foreach (var item in ViewData["Directiva"] as List<Datos.Modelos.EquipoDirectiva>)
                                {
                                    <li><h6><strong>@item.Cargo:</strong> @item.Nombre</h6></li>
                                } -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-image-team" [ngStyle]="{'background-image': 'url(' + urlP + equipo?.Imagen + ')'}" ></div>
    </div>



    <section class="content-info">
        <div class="single-team-tabs">
            <div class="container">
                <div class="row">
                    
                    <div class="col-xl-12 col-md-12" >

                        <ul class="nav nav-tabs" id="myTab" scrollX="true">
                            <li [ngClass]="tabGeneral ? 'active' : ''"><a data-toggle="tab" tab="general" (click)="mostrarTab(1)">GENERAL</a></li>
                            <li [ngClass]="tabJugadores ? 'active' : ''"><a  data-toggle="tab" tab="jugadores" (click)="mostrarTab(2)">JUGADORES</a></li>
                            <li [ngClass]="tabFixture ? 'active' : ''"><a  data-toggle="tab" tab="fixture" (click)="mostrarTab(3)">FIXTURE</a></li>
                            <li [ngClass]="tabResultados ? 'active' : ''"><a  data-toggle="tab" tab="resultados" (click)="mostrarTab(4)">RESULTADOS</a></li>
                        </ul>
 
                    </div>
                 
                    <div class="col-lg-12 padding-top-mini">
    
                        <div class="tab-content">
    
                            <div [ngClass]="tabGeneral ? 'active' : ''" *ngIf="tabGeneral">
                                <div class="panel-box padding-b">
                                    <div class="titles">
                                        <h4>Descripción</h4>
                                    </div>
                                    <div class="row">
                                        <div class="ion-text-center" style="margin: auto;">
                                            <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + equipo?.Logo)" alt="">
                                        </div>
                                        <div class="col-lg-12 col-xl-8 ion-text-justify" [innerHTML]="equipo?.Descripcion">
                                          
                                        </div>
                                    </div>
                                </div>
    
  
                            </div>
    
    
                            <div [ngClass]="tabJugadores ? 'active' : ''" *ngIf="tabJugadores">
    
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <button class="btn btn-primary" type="button" id="btnLimpiar"><i class="fa fa-trash"></i></button>
                                            </span>
                                            <input class="form-control" placeholder="Nombre o Apellidos" type="text" id="txtBuscadorJugadores" [(ngModel)]="texto">
                                            <span class="input-group-addon">
                                                <button class="btn btn-primary" type="button" (click)="cargarJugadores(1)"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="tblData" class="row" *ngIf="jugadores">
                                    <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let item of jugadores">

                                        <div class="item-player" >
                                             <div class="head-player">
                                                 <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.Imagen)" alt="location-team">
                                             </div>
                                             <div class="info-player">
                                                 <h4>
                                                     {{item.Nombre}} {{item.Apellido1}} {{item.Apellido2}}
                                                 </h4>
                                                 <ul>
                                                     <li style="text-align:center;"><i class="fa fa-birthday-cake"></i><strong> <span style="float:none;"> {{item.FechaNacimientoStr}}</span></strong></li>
                                                 </ul>
                                             </div>
                                             <a class="btn"></a>
                                         </div>
                                     </div>
                                </div>
                                <div class="row justify-content-center" style="margin-bottom:20px!important;" *ngIf="!jugadores">
                                    <img src="/assets/img/ajax-loader.gif" />
                                </div>
                                <div class="row justify-content-center" *ngIf="jugadores">
                                    <nav id="paged" class="paged text-center" aria-label="Page navigation example">
                                        <ul class="pagination">
                                   
                                            <ng-container *ngFor="let item of paginadorArray">
                                                    <li  [ngClass]="item.disabled==1?'page-item disabled':'page-item'" *ngIf="item.tipo!=1">
                                                            <span class="page-link" (click)="cargarJugadores(item.pagina)" >
                                                            <i class="fa fa-step-backward"  aria-hidden="true" *ngIf="item.tipo==0"></i>
                                                            <i class="fa fa-step-forward" aria-hidden="true" *ngIf="item.tipo==2"></i>
                                                            </span>
                            
                                                        </li>
                                                        <li  [ngClass]="item.active==1?'page-item active':'page-item'" *ngIf="item.tipo==1">
                                                               
                                                                <span class="page-link" (click)="cargarJugadores(item.pagina)" *ngIf="item.tipo==1">
                                                                {{item.pagina}}        
                                                                </span>
                                                            </li>
                                            </ng-container>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
    
    
                            <div [ngClass]="tabFixture ? 'active' : ''" *ngIf="tabFixture">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                           
                                            <tr>
                                                    <th class="cabeceraGrilla">Fecha</th>
                                                    <th class="cabeceraGrilla">Local</th>  
                                                    <th class="cabeceraGrilla">Visita</th>
                                                    <th class="cabeceraGrilla">Detalle</th>
                                                </tr>
                                            
                                           
                                        </thead>
<tbody>
        
        <tr *ngFor="let item of fixture">
                <td class="text-center" style="vertical-align: middle; font-size: 11px;background-color:lightgray; font-weight: bold;">{{item.NombreFecha}} <br> {{item.FechaPartidoStr}}</td>
                <td *ngIf="!item.Libre">
                    <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.LogoLocal)" alt="icon"  style="float:none;" [tooltip]="item.EquipoLocal" positionH="right" event="click">
                </td>
                
                <td *ngIf="!item.Libre">
                    <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.LogoVisita)" alt="icon1" [tooltip]="item.EquipoVisita" positionH="left" event="click" style="float:none;" data-original-title="item.EquipoVisita">
                </td>
                <td *ngIf="!item.Libre" class="text-center" style="vertical-align: middle;">
                    <small class="meta-text"><a [href]="this.sanitizer.bypassSecurityTrustUrl(item.UbicacionEstadio)" target="_blank">{{item.Estadio}}</a></small>
                </td>
                <td *ngIf="item.Libre">
                        <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.LogoLocal)" alt="icon" [tooltip]="item.EquipoLocal" positionH="right" event="click" style="float:none;" data-original-title="item.EquipoLocal">
                    </td>
                    <td *ngIf="item.Libre" class="text-center" style="vertical-align: middle;" colspan="3"><strong>LIBRE</strong></td>

            </tr>

</tbody>

                                      
                                    </table>
                                </div>
                            </div>
    
    
                            <div [ngClass]="tabResultados ? 'active' : ''" *ngIf="tabResultados">
                                <div class="recent-results results-page">
                                    <div class="info-results">
                                        <ul>
                                            <li *ngFor="let item of resultados">
                                                <span class="head colapsador " (click)="toogle(item)" data-toggle="collapse" data-target="#Fecha_201" role="button" aria-controls="Fecha_201" aria-expanded="false" style="cursor:pointer">
                                                    {{item.Nombre}} <span class="date">{{item.FechaStr}} <i [ngClass]="item.IdEstado== 0?'fa text-white  fa-plus-circle':'fa text-white  fa-minus-circle'"></i></span>
                                                </span>
                                                <ng-container *ngIf="item.IdEstado == 1">
                                                    <div  *ngFor="let part of item.Partidos" >
                                                        <div class="goals-result">
                                                            <a style="width:30%!important">
                                                                <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + part?.LogoLocal)" alt=""  [tooltip]="item.EquipoLocal" positionH="right" event="click" data-original-title="Equipo 4">
                                                                <br>
                                                                
                                                            </a>
                                                            <span *ngIf="!part.Libre" class="goals" style="width:30%!important">
                                                                <b>{{part.PuntosLocal}}</b> - <b>{{part.PuntosVisita}}</b>
                                                                <a class="btn theme colapsador" data-toggle="collapse" (click)="toogle(part)" role="button">Ver Más  <i [ngClass]="part.IdEstado== 0?'fa fa-plus-circle':'fa fa-minus-circle'"></i></a>
                                                            </span>
                                                            <span *ngIf="part.Libre" class="goals" style="padding-top: 25px; width:30%!important;">
                                                                    <b>LIBRE</b>
                                                                </span>
                                                            <a style="width:30%!important">
                                                                <img *ngIf="!part.Libre" [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + part?.LogoVisita)" alt=""  [tooltip]="item.EquipoVisita" positionH="left" event="click">
                                                                <br>
                                                                
                                                                

                                                            </a>
                                                        </div>

                                                        <div *ngIf="part.IdEstado==1" class="goals-result-detail " id="Collapse_104">
                                                            
                                                            <div  *ngFor="let det of part.Detalle">
                                                                <a>
                                                                    <strong class="hidden-sm hidden-xs"></strong>
                                                                </a>

                                                                    <span class="goals">
                                                                        <strong class="goals-text">{{det.NombreSerie}}</strong><br>
                                                                        <b>{{det.GolesLocal}}</b>
                                                                        <strong class="goals-text">-</strong>
                                                                        <b>{{det.GolesVisita}}</b>
                                                                    </span>
                                                                <a>

                                                                    <strong class="hidden-sm hidden-xs"></strong>
                                                                </a>
                                                            </div>
                                                           


                                                        </div>
                                            </div>
                                                </ng-container>
                                               
                                            </li>
                               
                                    </ul>
                                    </div>
                                </div>
                            </div>
    
    
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    
    
    
    </section>
</ion-content>
