<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button *ngIf="asociacion">
  
            <img alt="logo" id="header_logo"  [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + asociacion?.Logo)" style="width: 25px;">
  
          </ion-menu-button>
      </ion-buttons>
  
      <h4 style="text-align: center; margin-bottom: 0px;"><span class="text-resalt" >Galerias</span></h4>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card *ngFor="let item of galerias" (click)="verImagenes(item)">
      <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.Imagenes[0].Imagen)" />
      <ion-card-header>
        <ion-card-subtitle>{{item.FechaStr}}</ion-card-subtitle>
        <ion-card-title>{{item.Titulo}}</ion-card-title>
      </ion-card-header>
  </ion-card>
   
</ion-content>
