<ion-header>
  <ion-toolbar>
    <h4 style="text-align: center; margin-bottom: 0px;"><span class="text-resalt" >Seleccione su Asociación</span></h4>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngFor="let item of dataList" (click)="cargarAsociacion(item)">
      <ion-thumbnail slot="start">
        <img [src]="this.sanitizer.bypassSecurityTrustUrl(urlP + item.Logo)">
      </ion-thumbnail>
      <h5>{{item.Nombre}}</h5>
    </ion-item>
  </ion-list>
 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
