.p-noticias{
    font-family: open sans, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: .875rem;
      line-height: 1.7;
      color: gray;
      text-rendering: optimizeLegibility;
      text-align: justify;
  }

  ion-modal{
    --padding: 20px!important;
  }

  .show-modal{
    --padding: 20px!important;
  }
  .sc-ion-modal-md-h{
    padding: 20px!important;
  }