.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.p-noticias{
  font-family: open sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.7;
    color: gray;
    text-rendering: optimizeLegibility;
    text-align: justify;
}

.sc-ion-card-md-h {
  margin-left: 0px;
  margin-right: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-top: 0px;
    margin-bottom: 0px;
}


