

.popover-content.sc-ion-popover-md {
    border-radius: 4px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    background: black;
    color: white;
    /* padding: 5px; */
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    --background: black;
}